:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  font-family: sans-serif;
  background: #d2c8c8;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  max-width: 600px;
  width: 100%;
}

.happy-form,
.thought-card {
  background: white;
  border: 1px;
  border-radius: 0px;
  box-shadow: 4px 4px 0 #000;
  margin: 1rem 0;
  padding: 1rem;
}

textarea {
  width: 100%;
  height: 70px;
  margin-top: 0.5rem;
}

button {
  margin-top: 1rem;
  background: #ffb3c1;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: #ffb3c1;
}

.thought-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.time-ago {
  font-size: 0.8rem;
  color: #615959;
  margin-top: 40px;
  display: block;
}

.heart-button {
  border: none;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.heart-button.neutral {
  background-color: #f0f0f0;
  color: #666;
}

.heart-button.liked {
  background-color: #ffb6c1;
  color: #333;
}

.heart-button:hover {
  opacity: 0.85;
}